.products{

}


.products .button-container{
    display:flex;
    justify-content:space-evenly;
    align-items:center;
    flex-wrap: wrap;


}

.products .items-container{
    display:flex;
    justify-content: center;
    align-items:end;
    flex-wrap: wrap;
    
    
}
.products .item{
    width:20rem;
    padding:1rem;   

}

.products .items-container .myBtn{
    margin-top: 2rem;
}